/* # Front-end Style Guide */

/* == Import Fonts == */
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');

/* = CSS custom properties - VARIABLES = */
:root {

    /* ## Layout == */
    --mobile-layout: 375px;
    --desktop-layout: 1440px;

    /* ## Colors */

    /* ### Primary */

    /* #### Text  */
    --pale-violet : hsl(276, 100%, 81%);  /* (sub-heading at the top of the app UI) */
    --moderate-violet: hsl(276, 55%, 52%); /* (chat on the left) */
    --desaturated-dark-violet: hsl(271, 15%, 43%); /* (chat on the right) */
    --grayish-blue: hsl(206, 6%, 79%); /* (placeholder text) */
    --very-dark-desaturated-violet: hsl(271, 36%, 24%); /* (main heading) */
    --dark-grayish-violet: hsl(270, 7%, 64%); /* (paragraph) */

    /* #### Gradients / linear gradient */
    --light-magenta: hsl(293, 100%, 63%);
    --light-violet: hsl(264, 100%, 61%);

    /* ### Secondary */
    --white: hsl(0, 0%, 100%);
    --light-grayish-violet: hsl(270, 20%, 96%); /* (app background) */
    --very-dark-desaturated-violet: hsl(271, 36%, 24%); /* (submit button background) */
    --very-light-magenta: hsl(289, 100%, 72%); /* (radio button outline) */

    /* ## Typography */

    /* ### Body Copy */
    --font-size: 16px;

    /* ### Font */
    --font-family: 'Rubik', sans-serif; /* [Rubik](https://fonts.google.com/specimen/Rubik) */
    --font-weight-regular: 400;
    --font-weight-medium: 500;
    --font-weight-bold: 700;
}

/* Body Element Style */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    font-family: var(--font-family);
    font-size: var(--font-size);
    scroll-behavior: smooth;
    overflow-x: hidden;
}

/* Background Body Elemet Style */
.background-container {
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: -2;
    background-color: var(--white);
}

.background-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 350px;
    height: 600px;
    background: linear-gradient(
        45deg,
        var(--light-violet),
        var(--light-magenta)
    );
    border-bottom-left-radius: 100% 50%;
    border-bottom-right-radius: 100% 50%;
}

.background-container::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
    width: 350px;
    height: 600px;
    background: linear-gradient(
        -45deg,
        var(--light-violet),
        var(--light-magenta)
    );
    border-top-left-radius: 100% 50%;
    border-top-right-radius: 100% 50%;
    opacity: .1;
}

/* Media Queries for Standard devices */

/* ---------- iPhone 5, 5S, 5C and 5SE ---------- */
/* Portrait and Landscape */
@media only screen
    and (min-device-width: 320px)
    and (max-device-width: 568px)
    and (-webkit-min-device-pixel-ratio: 2) {
        
        /* Background Body Elemet Style */
        .background-container::before {
            left: -175px;
            height: 55vh;
            border-bottom-left-radius: 100% 100%;
            border-bottom-right-radius: 100% 100%;
        }

        .background-container::after {
            right: -175px;
            height: 55vh;
            border-top-left-radius: 100% 100%;
            border-top-right-radius: 100% 100%;
        }
    }

/* ---------- Non-Retina Screens ---------- */
/* @media screen
    and (min-device-width: 1200px)
    and (max-device-width: 1600px)
    and (-webkit-min-device-pixel-ratio: 1) {

    } */

/* ---------- Retina Screens ---------- */
/* @media screen
    and (min-device-width: 1200px)
    and (max-device-width: 1600px)
    and (-webkit-min-device-pixel-ratio: 2)
    and (min-resolution: 192dpi) {
        
    } */